### PROJECT 1

### Analysis of the selected food prices in Nigeria from January 2017 to April 2020

We want to plot different food prices over time, compare different food items and in the process make informed predictions about the future

Packages needed to run this programme need to be imported

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

First we will take a look at the data and view a few examples of the columns. View the top 5 columns and the bottom 5 columns to give us an idea of what the data contains.

In [2]:
food_prices = pd.read_csv("foods nigeria.csv")

In [3]:
food_prices.head(5)

,Item Labels,1-Jan-17,1-Feb-17,1-Mar-17,1-Apr-17,1-May-17,1-Jun-17,1-Jul-17,1-Aug-17,1-Sep-17,...,1-Jul-19,1-Aug-19,1-Sep-19,1-Oct-19,1-Nov-19,1-Dec-19,1-Jan-20,1-Feb-20,1-Mar-20,1-Apr-20
0,Bread sliced 500g,302.87,299.75,297.51,296.63,307.70,320.58,314.47,304.20,310.62,...,293.49,301.36,302.59,296.56,299.59,304.06,302.45,303.06,304.60,316.55
1,"Gari white, sold loose",219.56,260.94,273.67,288.45,292.97,315.61,317.10,310.15,301.99,...,151.73,154.10,154.55,162.42,160.06,159.39,159.64,159.33,164.60,190.23
2,"Gari yellow, sold loose",255.83,250.45,302.05,320.92,326.83,354.55,350.46,345.82,335.94,...,154.05,167.34,172.23,175.57,181.32,183.26,182.19,186.35,192.41,211.83
3,"Rice, medium grained",312.08,352.69,377.99,332.81,350.36,348.23,344.40,313.45,339.47,...,305.93,309.27,326.40,339.78,378.50,381.68,381.42,373.16,368.36,394.56
4,"Rice, imported high quality sold loose",402.01,410.58,418.71,388.46,410.55,415.84,409.20,384.35,398.01,...,356.10,356.61,371.13,382.57,445.45,459.90,453.24,444.04,438.66,471.84

In [4]:
food_prices.tail(5)

,Item Labels,1-Jan-17,1-Feb-17,1-Mar-17,1-Apr-17,1-May-17,1-Jun-17,1-Jul-17,1-Aug-17,1-Sep-17,...,1-Jul-19,1-Aug-19,1-Sep-19,1-Oct-19,1-Nov-19,1-Dec-19,1-Jan-20,1-Feb-20,1-Mar-20,1-Apr-20
38,"Rice local, sold loose",286.19,306.29,308.87,299.30,323.82,325.51,323.25,320.19,316.40,...,277.38,272.77,290.16,303.69,344.01,345.94,338.58,334.11,313.10,342.49
39,Sweet potato,129.43,127.23,132.94,132.43,130.28,135.77,137.96,138.56,139.00,...,137.48,137.61,142.00,138.46,146.58,147.46,141.23,141.34,149.46,153.89
40,Tilapia fish (epiya) fresh,792.18,795.27,798.07,800.77,805.21,817.62,823.34,820.29,795.64,...,812.22,833.59,813.43,815.55,859.55,884.07,870.06,863.29,854.86,870.49
41,"Titus, frozen",884.82,942.23,964.63,935.00,969.64,1012.18,1014.54,998.01,973.99,...,927.61,949.05,952.31,956.75,975.39,981.21,962.96,948.14,960.47,986.88
42,"Vegetable oil, 1 bottle, specify bottle",495.29,507.36,513.42,525.72,524.77,546.29,552.91,559.01,505.51,...,485.05,491.41,486.90,502.34,512.53,516.29,515.48,520.95,530.85,551.92

We need to know the type of data each column includes, that is, either string, integer or float format.

In [5]:
food_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 41 columns):
Item Labels    43 non-null object
1-Jan-17       43 non-null float64
1-Feb-17       43 non-null float64
1-Mar-17       43 non-null float64
1-Apr-17       43 non-null float64
1-May-17       43 non-null float64
1-Jun-17       43 non-null float64
1-Jul-17       43 non-null float64
1-Aug-17       43 non-null float64
1-Sep-17       43 non-null float64
1-Oct-17       43 non-null float64
1-Nov-17       43 non-null float64
1-Dec-17       43 non-null float64
1-Jan-18       43 non-null float64
1-Feb-18       43 non-null float64
1-Mar-18       43 non-null float64
1-Apr-18       43 non-null float64
1-May-18       43 non-null float64
1-Jun-18       43 non-null float64
1-Jul-18       43 non-null float64
1-Aug-18       43 non-null float64
1-Sep-18       43 non-null float64
1-Oct-18       43 non-null float64
1-Nov-18       43 non-null float64
1-Dec-18       43 non-null float64
1-Jan-19       43 non-null float64
1-Feb-19       43 non-null float64
1-Mar-19       43 non-null float64
1-Apr-19       43 non-null float64
1-May-19       43 non-null float64
1-Jun-19       43 non-null float64
1-Jul-19       43 non-null float64
1-Aug-19       43 non-null float64
1-Sep-19       43 non-null float64
1-Oct-19       43 non-null float64
1-Nov-19       43 non-null float64
1-Dec-19       43 non-null float64
1-Jan-20       43 non-null float64
1-Feb-20       43 non-null float64
1-Mar-20       43 non-null float64
1-Apr-20       43 non-null float64
dtypes: float64(40), object(1)
memory usage: 13.9+ KB

In [6]:
food_prices.describe()

,1-Jan-17,1-Feb-17,1-Mar-17,1-Apr-17,1-May-17,1-Jun-17,1-Jul-17,1-Aug-17,1-Sep-17,1-Oct-17,...,1-Jul-19,1-Aug-19,1-Sep-19,1-Oct-19,1-Nov-19,1-Dec-19,1-Jan-20,1-Feb-20,1-Mar-20,1-Apr-20
count,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,...,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000
mean,594.680233,604.477442,624.834651,626.724651,643.945116,654.952093,652.791163,638.676512,631.800000,629.693256,...,585.706279,591.149767,595.388140,600.185814,615.478605,621.166512,613.483721,610.152791,610.783023,627.713953
std,505.317539,512.329082,528.279412,545.717034,554.343122,560.241991,554.515998,527.290999,531.862507,533.524930,...,491.329186,492.113867,497.866205,503.476702,506.015057,508.507966,507.394855,503.899017,500.795662,503.383834
min,47.420000,42.900000,43.930000,46.220000,45.730000,45.280000,44.320000,42.920000,45.720000,42.060000,...,38.380000,40.570000,41.300000,40.510000,41.180000,40.720000,40.170000,39.290000,39.900000,41.540000
25%,251.690000,245.945000,265.485000,281.705000,287.615000,303.835000,302.760000,307.175000,294.160000,274.220000,...,203.495000,217.065000,212.220000,205.785000,222.035000,226.795000,216.000000,219.710000,228.635000,233.345000
50%,377.410000,392.040000,418.710000,388.460000,410.550000,415.840000,409.200000,415.340000,404.840000,382.580000,...,356.100000,356.610000,370.300000,371.890000,396.860000,406.940000,409.310000,404.320000,390.540000,408.050000
75%,850.955000,855.240000,895.830000,861.835000,873.320000,882.480000,881.875000,887.050000,867.005000,876.020000,...,899.560000,911.140000,917.440000,931.535000,954.230000,961.445000,954.505000,940.175000,944.370000,970.010000
max,2204.120000,2150.180000,2189.550000,2319.910000,2388.050000,2416.280000,2395.790000,2176.820000,2204.040000,2190.220000,...,1783.380000,1770.450000,1901.640000,1993.980000,2008.390000,1995.580000,1983.140000,1948.590000,1941.040000,1958.100000